body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
  font-family: Roboto, sans-serif;
}

div {
  border: 1px saddlebrown solid;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration-line: none;
  color: #e5e7eb;
  font-size: 18px;
}

p {
  margin: 0;
}

strong {
  font-weight: 800;
}

button,
.cta {
  background-color: #3882f6;
}

button {
  color: #f9faf8;
  font-weight: 700;
}
.header,
.modal-container,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
}

.modal-strong {
  font-size: 48px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal-container {
  display: flex;
  gap: 35px;
}

.modal-text {
  flex: 1;
}

.modal-image {
  flex: 1;
}

.info-container {
  text-align: center;
  color: #1f2937;
}

.info-strong {
  font-size: 36px;
  color: #1f2937;
}
.card-container {
  display: flex;
  justify-content: center;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 200px;
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
}
.quote-container strong {
  margin-left: auto;
}
.quote-container P {
  margin: 0px;
}

.cta-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  gap: 100px;
  padding: 50px 100px;
  border-radius: 10px;
  color: #e5e7eb;
}

.cta strong {
  color: #f9faf8;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}
